@import'../../prefix-vars';

#{$appPrefix} {
    &-lnk {
        &-pagination {


            #{$varPrefix}-h: 30px;
            #{$varPrefix}-w: 30px;
            #{$varPrefix}-m: 0 5px;
            height         : var(#{$varPrefix}-h);
            width          : var(#{$varPrefix}-w);
            margin         : var(#{$varPrefix}-m);
        }
    }
}