* {
    --at-fnt-fam: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica Neue,
        sans-serif;
}

.at-txt-h3 {
    --at-m: 15px 0;
}

[data-at-theme='dark'] {
    .innerZoomElementWrapper {
        background: #121212;
    }
}


#storybook-root {
    height: 500px;
    width: 100%;
}