@import '../../prefix-vars.scss';

#{$appPrefix} {
	&-rpt {
		#{$appPrefix} {
			&-lbl {
				&:empty {
					display: none;
				}
			}

			&-hr {
				#{$varPrefix}-m: 0 0 15px 0;
			}
		}

		&-grp {
			#{$varPrefix}-m: 0 0 15px 0;

			&-itms {
				#{$varPrefix}-bdr-cl: var(#{$varPrefix}-border-color);
				#{$varPrefix}-bdr-w: 0 1px 1px 1px;
				#{$varPrefix}-bdr-sty: solid;
				#{$varPrefix}-bg-cl: var(#{$varPrefix}-quinary);

				&-fields {
					#{$varPrefix}-p: 15px;

					#{$appPrefix} {
						&-rpt-grp-itms {
						}
					}
				}
			}

			&-hdr {
				#{$varPrefix}-bdr-cl: var(#{$varPrefix}-border-color);
				#{$varPrefix}-bdr-w: 1px;
				#{$varPrefix}-bdr-sty: solid;
				#{$varPrefix}-bg-cl: var(#{$varPrefix}-white);

				&-btn {
					#{$varPrefix}-m: 0;
					#{$varPrefix}-fnt-wt: 700;
					#{$varPrefix}-fnt-sz: 14px;
					#{$varPrefix}-cl: var(#{$varPrefix}-base-color);
					font-weight: var(#{$varPrefix}-fnt-wt);
				}

				#{$appPrefix} {
					&-lbl {
						#{$varPrefix}-m: 0 !important;
						#{$varPrefix}-max-w: 100%;
						#{$varPrefix}-ln-h: 0;
						line-height: var(#{$varPrefix}-ln-h);
						max-width: var(#{$varPrefix}-max-w);
					}
				}

				&#{$appPrefix} {
					&-hdr {
						#{$varPrefix}-p: 10px;
					}
				}
			}

			&-ftr {
				&#{$appPrefix} {
					&-ftr {
						#{$varPrefix}-p: 10px;
					}
				}
				#{$appPrefix} {
					&-btn {
						#{$varPrefix}-p: 0;
						#{$varPrefix}-fnt-sz: 13px;
						#{$varPrefix}-cl: var(#{$varPrefix}-body-color);
					}
				}
			}

			&-actions {
				#{$varPrefix}-p: 10px;
				#{$appPrefix} {
					&-btn {
						#{$varPrefix}-p: 0;
					}
				}
			}
		}

		#{$appPrefix} {
			&-lbl {
				#{$varPrefix}-m: 0 0 15px 0;

				+ {
					#{$appPrefix} {
						&-btn {
							&-add {
								#{$varPrefix}-m: 0 0 0 15px;
							}
						}
					}
				}
			}
		}
	}
	&-txt {
		&-rpt {
			&-grp {
				&-ttl {
					#{$varPrefix}-m: 0 0 15px 0;
					#{$varPrefix}-fnt-wt: 600;
					#{$varPrefix}-fnt-sz: 16px;
					#{$varPrefix}-cl: var(#{$varPrefix}-base-cl);
				}
			}
		}
	}
}

[data-at-theme='dark'] {
	#{$appPrefix} {
		&-rpt {
			&-grp {
				&-itms {
					#{$varPrefix}-bdr-cl: #312e2e;
					#{$varPrefix}-bg-cl: #1e1e1e;
				}

				&-hdr {
					#{$varPrefix}-bdr-cl: #312e2e;
					#{$varPrefix}-bg-cl: #131313;
				}
			}
		}
	}
}
