@import '../../prefix-vars.scss';

#{$appPrefix} {
	&-nxt-m-0 {
		+ #{$appPrefix} {
			&-ctrl-pnl-tools {
				#{$varPrefix}-m: 0;
			}
		}
	}

	&-active-radio {
		#{$varPrefix}-m: 5px 5px 0 0;
	}

	&-ctrl-pnl-tools {
		#{$varPrefix}-m: 15px 0 0 0;

		&:first-child {
			#{$varPrefix}-m: 0;
		}

		&-header {
			#{$varPrefix}-p: 5px 5px 5px 10px;
			#{$varPrefix}-bdr-w: 1px;
			#{$varPrefix}-bdr-sty: solid;
			#{$varPrefix}-bdr-cl: var(#{$varPrefix}-quaternary);
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-white);

			&:hover {
				#{$varPrefix}-bg-cl: var(#{$varPrefix}-white);
			}
		}

		&-body {
			#{$varPrefix}-p: 15px;
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-secondary);
			#{$varPrefix}-bdr-w: 0 1px 1px 1px;
			#{$varPrefix}-bdr-sty: solid;
			#{$varPrefix}-bdr-cl: var(#{$varPrefix}-quaternary);
		}

		#{$appPrefix}-ctrl-pnl-tools-body {
			> #{$appPrefix}-ctrl-pnl-tools {
				+ #{$appPrefix} {
					&-ctrl-pnl-tools {
						#{$varPrefix}-m: 15px 0 0 0;
					}
				}
			}
		}

		#{$appPrefix} {
			&-ctrl-unit-wrp {
				#{$varPrefix}-w: 100%;
				width: var(#{$varPrefix}-w);
				flex-grow: 1;

				.components-input-control__container {
					#{$varPrefix}-w: 100%;
					width: var(#{$varPrefix}-w);
				}
			}

			&-dropdown-device,
			&-ctrl-select-btn {
				// #{$varPrefix}-m: 15px;
				// margin-bottom  : var(#{$varPrefix}-m);

				&:last-of-type {
					// #{$varPrefix}-m: 0;
					// margin-bottom  : var(#{$varPrefix}-m) !important;
				}
			}
		}
	}

	&-wrp {
		#{$appPrefix} {
			&-ctrl-pnl-tools {
				&:first-child {
					#{$varPrefix}-m: 0;
				}

				+ #{$appPrefix} {
					&-ctrl-pnl-tools {
						#{$varPrefix}-m: 15px 0 0 0;
					}
				}
			}
		}
	}

	&-menu-itm-wrp {
		.components-button {
			.components-menu-item__item {
				#{$varPrefix}-box-szg: border-box;
				box-sizing: var(#{$varPrefix}-box-szg) !important;
			}
		}
	}
}
