@import '../../prefix-vars';

#{$appPrefix} {
    &-input-box {
        .components-base-control__field {
            #{$varPrefix}-m: 0;
            margin-bottom  : var(#{$varPrefix}-m) !important;
        }
    }

    &-body {
        #{$varPrefix}-w  : 100%;
        #{$varPrefix}-pos: relative;
        width            : var(#{$varPrefix}-w);
        position         : var(#{$varPrefix}-pos);
    }

    &-attachment {
        &-details {
            #{$varPrefix}-pos: relative;
            position         : var(#{$varPrefix}-pos);

            #{$appPrefix} {
                &-btn {
                    &-delete {
                        #{$varPrefix}-bdr-rad: 50%;
                        #{$varPrefix}-pos    : absolute;
                        #{$varPrefix}-r      : -8px;
                        #{$varPrefix}-t      : -8px;
                        #{$varPrefix}-h      : 20px;
                        #{$varPrefix}-w      : 20px;
                        #{$varPrefix}-p      : 0;
                        padding              : var(#{$varPrefix}-p);
                        height               : var(#{$varPrefix}-h);
                        width                : var(#{$varPrefix}-w);
                        right                : var(#{$varPrefix}-r);
                        top                  : var(#{$varPrefix}-t);
                        border-radius        : var(#{$varPrefix}-bdr-rad);
                        position             : var(#{$varPrefix}-pos);
                    }
                }
            }
        }
    }



    &-cont {
        &-area {
            #{$varPrefix}-pos: relative;
            position         : var(#{$varPrefix}-pos);

            &--preview {


                #{$varPrefix}-pos: absolute;
                #{$varPrefix}-t  : 50%;
                #{$varPrefix}-r  : 0;
                #{$varPrefix}-l  : 0;
                #{$varPrefix}-p  : 40px;
                #{$varPrefix}-tf : translateY(-50%);

                position : var(#{$varPrefix}-pos);
                right    : var(#{$varPrefix}-r);
                top      : var(#{$varPrefix}-t);
                left     : var(#{$varPrefix}-l);
                padding  : var(#{$varPrefix}-p);
                transform: var(#{$varPrefix}-tf);
            }
        }
    }

    &-render-tog {
        #{$varPrefix}-gap: 10px;
    }
}