@import '../../prefix-vars';

#{$appPrefix} {
	&-checkbox {
		.components {
			&-base-control__field {
				#{$varPrefix}-m: 0;
				margin-bottom: var(#{$varPrefix}-m);

				display: flex;
				gap: 10px;
				align-items: center;
				.components {
					&-flex {
						gap: 10px;
					}
				}
			}

			&-checkbox-control {
				&__input {
					&-container {
						#{$varPrefix}-m: 0;
						margin-right: var(#{$varPrefix}-m);
					}
					&[type='checkbox'] {
						&:checked,
						&:indeterminate {
							background: var(#{$varPrefix}-primary);
							border-color: var(#{$varPrefix}-primary);
						}
					}
				}
				&__label {
					vertical-align: top;
				}
			}
		}

		svg {
			&.components-checkbox-control__indeterminate {
				#{$varPrefix}-h: 19px;
				#{$varPrefix}-w: 19px;
				height: var(#{$varPrefix}-h) !important;
				width: var(#{$varPrefix}-w) !important;
			}
		}

		&-label {
			.components-checkbox-control__label {
				#{$varPrefix}-p: 5px;
				display: inline-block;

				padding-left: var(#{$varPrefix}-m);
			}
		}
	}
}
