#{$appPrefix} {

    &-ctrl-box-shw-tab {

        #{$appPrefix}-ctrl-unit-wrp {
            flex-grow: 1;

            +#{$appPrefix} {
                &-btn {
                    &-reset {
                        &-i {

                            #{$varPrefix}-m: -15px;
                            margin-bottom  : var(#{$varPrefix}-m) !important;
                        }
                    }

                }

            }

            .components {
                &-input-control {
                    &__container {
                        #{$varPrefix}-w: 100%;
                        #{$varPrefix}-m: 10px;
                        width          : var(#{$varPrefix}-w);
                        margin-bottom  : var(#{$varPrefix}-m);
                    }
                }
            }
        }
    }
}