@import'../../prefix-vars';

#{$appPrefix} {
    &-hr {
        #{$varPrefix}-bdr-w  : 1px 0 0 0;
        #{$varPrefix}-bdr-sty: solid;
        #{$varPrefix}-bdr-cl : var(#{$varPrefix}-quaternary);
        border-width         : var(#{$varPrefix}-bdr-w);
        border-style         : var(#{$varPrefix}-bdr-sty);
        border-color         : var(#{$varPrefix}-bdr-cl);
    }
}