@import '../../prefix-vars';

#{$appPrefix} {
	&-modal {
		#{$varPrefix}-max-w: 1140px;
		max-width: var(#{$varPrefix}-max-w);
	}
}

[data-at-theme='dark'] {
	color-scheme: dark;
	#{$appPrefix} {
		&-modal {
			background: var(#{$varPrefix}-body-bg);

			.components-modal__content {
				&.has-scrolled-content {
					&:not(.hide-header) {
						.components-modal__header {
							border-bottom-color: var(#{$varPrefix}-border-color);
						}
					}
				}
			}
		}
	}
}
