@import '../../prefix-vars.scss';

#{$appPrefix} {
	&-dropdown-device {
		#{$appPrefix} {
			&-dropdown {
				+ [role='tabpanel'] {
					#{$varPrefix}-m: 10px 0 0 0;
					margin: var(#{$varPrefix}-m);
				}
			}

			&-render-tog {
				.at {
					&-svg {
						#{$varPrefix}-h: 10px;
						#{$varPrefix}-w: 10px;
					}
				}

				#{$appPrefix} {
					&-btn-devices {
						#{$varPrefix}-bg-cl: var(#{$varPrefix}-quaternary);
						#{$varPrefix}-p: 0;
						#{$varPrefix}-m: 0 0 0 10px;
						#{$varPrefix}-h: 25px;
						#{$varPrefix}-w: 25px;
						#{$varPrefix}-bdr-rad: 50%;
						#{$varPrefix}-opa: 0.7;
						#{$varPrefix}-trs: all 0.5s ease-in-out 0s;

						height: var(#{$varPrefix}-h);
						width: var(#{$varPrefix}-w);
						justify-content: center;
						align-items: center;
						display: flex;
						border-radius: var(#{$varPrefix}-bdr-rad);
						margin: var(#{$varPrefix}-m);
						opacity: var(#{$varPrefix}-opa);
						transition: var(#{$varPrefix}-trs);

						&[aria-expanded='true'],
						&:hover,
						&:focus {
							#{$varPrefix}-opa: 1;
						}
					}
				}
			}

			&-rst {
				&-wrp {
					.components-font-size-picker {
						+ #{$appPrefix} {
							&-btn {
								&-reset {
									&-i {
										#{$varPrefix}-m: -20px;
										margin-bottom: var(#{$varPrefix}-m);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&-dropdown-cont {
		#{$varPrefix}-gap: 10px;

		.at {
			&-svg {
				#{$varPrefix}-h: 14px;
				#{$varPrefix}-w: 14px;
			}
		}
	}
}
