@import '../../prefix-vars.scss';

#{$appPrefix} {
	&-ctrl-fl {
		#{$appPrefix} {
			&-ctrl-fl-drop-sdw {
				#{$appPrefix} {
					&-pnl-row {
						#{$varPrefix}-w: 100%;
						width: var(#{$varPrefix}-w) !important;
					}
				}
			}

			&-pnl-row {
				&:not(:last-child) {
					#{$varPrefix}-bdr-w: 0 0 1px 0;
					#{$varPrefix}-bdr-cl: var(#{$varPrefix}-quaternary);
					#{$varPrefix}-bdr-sty: solid;
					border-width: var(#{$varPrefix}-bdr-w);
					border-style: var(#{$varPrefix}-bdr-sty);
					border-color: var(#{$varPrefix}-bdr-cl);
				}

				#{$appPrefix} {
					&-pnl-row {
						#{$varPrefix}-bdr-w: 0;
						border-width: var(#{$varPrefix}-bdr-w);
					}
				}
			}
		}
	}
}
