#{$appPrefix} {
    &-ctrl-box-four {
        .components-flex {
            &:empty {
                display: none !important;
            }

            &.component-box-control__input-controls {
                flex-wrap: wrap;
            }

            .components-flex-item {
                &:empty {
                    display: none !important;
                }
            }

            span {
                &.components-base-control__label {
                    &:empty {
                        display: none !important;
                    }
                }
            }
        }
    }
}