@import '../../prefix-vars';

#{$appPrefix} {
	&-pagination {
		#{$varPrefix}-gap: 5px;

		#{$appPrefix} {
			&-gap {
				#{$varPrefix}-gap: 5px;
			}
			&-ctrl-txt {
				.components-text-control__input {
					#{$varPrefix}-w: 60px;
					width: var(#{$varPrefix}-w);
				}
			}
		}
		&-lnk {
			#{$varPrefix}-fnt-sz: 14px;
			#{$varPrefix}-ln-h: 20px;
			#{$varPrefix}-p: 6px 12px;
			#{$varPrefix}-cl: var(#{$varPrefix}-body-color);
			#{$varPrefix}-trs: all 0.3s ease-in-out;

			padding: var(#{$varPrefix}-p);
			transition: var(#{$varPrefix}-trs);

			&[aria-current='page'],
			&:hover {
				background-color: var(#{$varPrefix}-primary--hover);
				#{$varPrefix}-cl: var(#{$varPrefix}-white);
			}
		}
	}
}
