@import '../../prefix-vars.scss';

#{$appPrefix} {
	&-ctrl-box-four {
		.components-flex {
			&:empty {
				display: none !important;
			}

			&.component-box-control__input-controls {
				flex-wrap: wrap;
			}

			.components-flex-item {
				&:empty {
					display: none !important;
				}
			}

			span {
				&.components-base-control__label {
					&:empty {
						display: none !important;
					}
				}
			}
		}
		&-device-tab {
			#{$appPrefix} {
				&-tab-pnl {
					#{$appPrefix} {
						&-rst-wrp {
							&#{$appPrefix} {
								&-box-four-rst {
									#{$appPrefix} {
										&-btn {
											&-rst {
												&-i {
													#{$varPrefix}-m: 8px 0 0 0;
													margin: var(#{$varPrefix}-m);
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
