@import '../../prefix-vars.scss';

#{$appPrefix} {
	&-ctrl-adv-col-plhldr {
		.components {
			&-placeholder {
				&__fieldset {
					gap: 10px;

					#{$appPrefix} {
						&-svg {
							#{$varPrefix}-h: 50px;
							#{$varPrefix}-w: 50px;
						}
					}
				}
			}
		}
		#{$appPrefix} {
			&-ctrl-select-btn {
				#{$appPrefix} {
					&-btn-grp {
						#{$varPrefix}-gap: 5px;
					}

					&-btn-select {
						&:not(#{$appPrefix}-btn-active) {
							.at-svg {
								opacity: 0.5;
							}

							&:hover {
								.at-svg {
									opacity: 0.8;
								}
							}
						}

						* {
							flex-basis: 100%;
						}

						#{$varPrefix}-p: 3px;
						#{$varPrefix}-fnt-sz: 0;
						#{$varPrefix}-ln-h: normal;
						#{$varPrefix}-h: auto;
						#{$varPrefix}-bg-cl: #fff;
						// #{$varPrefix}-w     : calc((100% / 3) - var(#{$varPrefix}-gap) - 10px);
						// width               : var(#{$varPrefix}-w);

						.at-svg {
							// #{$varPrefix}-w : 100%;
							// #{$varPrefix}-h : 100%;
							// #{$varPrefix}-cl: #48b44f;
							#{$varPrefix}-w: 35px;
							#{$varPrefix}-h: 35px;
							#{$varPrefix}-cl: #536e85;
						}
					}
				}
			}
		}
	}
}

[data-at-theme='dark'] {
	#{$appPrefix} {
		&-ctrl-adv-col-plhldr {
			background: #131313;
			.components {
				&-placeholder {
					&__label {
						color: var(#{$varPrefix}-white);
					}
				}
			}
		}
	}
}
