@import './prefix-vars.scss';

:root {
    #{$varPrefix}-white: #fff;
    #{$varPrefix}-black: #000;

    #{$varPrefix}-body-color: #1d2327;

    #{$varPrefix}-primary       : #536e85;
    #{$varPrefix}-primary--hover: #788c9d;

    #{$varPrefix}-secondary       : #f6f7f7;
    #{$varPrefix}-secondary--hover: #eee;

    #{$varPrefix}-tertiary       : #f5e5b4;
    #{$varPrefix}-tertiary--hover: #fff6dc;

    #{$varPrefix}-quaternary: #d3d9de;

    #{$varPrefix}-quinary  : #788c9d;
    #{$varPrefix}-senary   : #eee;
    #{$varPrefix}-septenary: #fff6dc;
    #{$varPrefix}-octonary : #fdfdfd;

    #{$varPrefix}-danger : #dc3232;
    #{$varPrefix}-success: #46b450;
    #{$varPrefix}-info   : #00a0d2;
    #{$varPrefix}-warning: #ffb900;
}


article {
    #{$varPrefix}-fnt-fam: 'Open Sans', sans-serif;
    #{$varPrefix}-fnt-sz : 14px;
    #{$varPrefix}-cl     : var(#{$varPrefix}-black);

    h4 {
        #{$varPrefix}-m: 0 0 15px 0;
        margin         : var(#{$varPrefix}-m);
    }

    figure {
        #{$varPrefix}-m: 15px 0;
        margin         : var(#{$varPrefix}-m);
    }

    header {
        div {
            gap: 5px;

            span {
                gap: 5px;
            }
        }
    }
}



//at grid container styles

@media (min-width: 576px) {
    .at-ctnr {
        #{$varPrefix}-ctnr: 540px;
    }
}

@media (min-width: 768px) {
    .at-ctnr {
        #{$varPrefix}-ctnr: 720px;
    }
}

@media (min-width: 992px) {
    .at-ctnr {
        #{$varPrefix}-ctnr: 960px;
    }
}

@media (min-width: 1200px) {
    .at-ctnr {
        #{$varPrefix}-ctnr: 1140px;
    }
}

@media (min-width: 1400px) {
    .at-ctnr {
        #{$varPrefix}-ctnr: 1320px;
    }
}

//Default Compoments Design CSS
.components {
    &-input-control__backdrop {
        #{$varPrefix}-bdr-cl: var(#{$varPrefix}-quaternary);
        border-color        : var(#{$varPrefix}-bdr-cl) !important;

        &:focus,
        &:focus-visible,
        &:focus-within {
            outline              : 0 !important;
            #{$varPrefix}-box-sdw: none;
            box-shadow           : var(#{$varPrefix}-box-sdw) !important;
        }
    }

    &-input-control__input,
    &-select-control__input {
        #{$varPrefix}-h      : 35px;
        #{$varPrefix}-bdr-rad: 3px;
        height               : var(#{$varPrefix}-h) !important;
        min-height           : #{$varPrefix}-h !important;
        border-radius        : var(#{$varPrefix}-bdr-rad) !important;
    }

    &-checkbox-control__input {
        &[type='checkbox'] {
            &:checked {
                background  : var(#{$varPrefix}-info);
                border-color: var(#{$varPrefix}-info);
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

// Theme CSS
#{$appPrefix} {
    &-m-0 {
        #{$varPrefix}-m: 0 !important;
    }

    &-form {
        #{$varPrefix}-p: 15px;

        input:not([type='submit']) {
            #{$varPrefix}-h: 35px;
            height         : var(#{$varPrefix}-h);

            &:focus {
                #{$varPrefix}-box-sdw: none;
                box-shadow           : var(#{$varPrefix}-box-sdw);
            }
        }
    }

    &-text {
        &-white {
            #{$varPrefix}-cl: var(#{$varPrefix}-white);
        }
    }

    &-hr {
        #{$varPrefix}-m: 15px 0;
    }

    &-unlock-info {
        .at-btn {
            #{$varPrefix}-p: 10px 14px;
        }
    }

    &-header-docs {
        #{$varPrefix}-m: 0 0 20px 0;

        .at-btn {
            #{$varPrefix}-bg-cl : var(#{$varPrefix}-danger);
            #{$varPrefix}-bdr-cl: var(#{$varPrefix}-danger);
            #{$varPrefix}-opa   : 0.8;
            #{$varPrefix}-ln-h  : 1;
            #{$varPrefix}-p     : 5px 8px;
            opacity             : var(#{$varPrefix}-opa);

            &:hover,
            &:focus {
                #{$varPrefix}-opa   : 1;
                #{$varPrefix}-bg-cl : var(#{$varPrefix}-danger);
                #{$varPrefix}-bdr-cl: var(#{$varPrefix}-danger);
            }
        }
    }

    &-docs {
        #{$varPrefix}-p: 0 0 20px 0;
    }

    &-bg {
        &-primary {
            &-lighter {
                #{$varPrefix}-bg-cl: var(#{$varPrefix}-secondary);
            }
        }

        &-grad {
            &-1 {
                #{$varPrefix}-bg-img: linear-gradient(90deg, #ffbf96, #fe7096);
            }

            &-2 {
                #{$varPrefix}-bg-img: linear-gradient(90deg, #90caf9, #047edf 99%);
            }

            &-3 {
                #{$varPrefix}-bg-img: linear-gradient(90deg, #84d9d2, #07cdae);
            }
        }
    }

    &-even {
        #{$varPrefix}-bg-cl: var(#{$varPrefix}-octonary);
    }

    &-bulk-wrp {
        #{$varPrefix}-gap: 0 15px;
    }

    &-no-data {
        #{$varPrefix}-p: 20px;
    }
}

a[disabled] {
    pointer-events: none;
}



/* Changelog */
.at-changelog-wrap {

    #{$varPrefix}-bdr-cl : #d4d4d4;
    #{$varPrefix}-bdr-w  : 1px;
    #{$varPrefix}-bdr-sty: solid;
    #{$varPrefix}-p      : 0 0 0 20px;
    #{$varPrefix}-ln-h   : 30px;
    #{$varPrefix}-bg-img : linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
    background-color     : #f5f5f5;

    #{$varPrefix}-bg-sz : calc(var(#{$varPrefix}-ln-h)) calc(var(#{$varPrefix}-ln-h) + 30px);
    display             : block;
    font-size           : 12px;
    overflow-x          : visible;
    overflow-y          : hidden;
    line-height         : var(#{$varPrefix}-ln-h);

}