@import './prefix-vars.scss';

//global color and other properties related to body, container & light and dark theme.
//default properties and light theme
:root {
	#{$varPrefix}-white: #fff;
	#{$varPrefix}-black: #000;

	#{$varPrefix}-base-color: #2e312f;

	#{$varPrefix}-body-color: #9da29f;
	#{$varPrefix}-body-bg: #f0f0f1;

	#{$varPrefix}-primary: #48b44f;
	#{$varPrefix}-primary--hover: #3ea245;

	#{$varPrefix}-secondary: #e8f3eb;
	#{$varPrefix}-secondary--hover: #c7e6cf;

	#{$varPrefix}-tertiary: #a0a0a0;
	#{$varPrefix}-tertiary--hover: #7b7979;

	#{$varPrefix}-quaternary: #585a59;
	#{$varPrefix}-quaternary--hover: #414141;

	#{$varPrefix}-quinary: #f6f7f7;
	#{$varPrefix}-quinary--hover: #eee;

	#{$varPrefix}-accent: #f5e5b4;
	#{$varPrefix}-accent--hover: #fff6dc;

	#{$varPrefix}-heading: #f6f7f7;
	#{$varPrefix}-link: #f6f7f7;
	#{$varPrefix}-link--hover: #f6f7f7;

	#{$varPrefix}-code-color: #d63384;
	#{$varPrefix}-border-color: #d3d9de;

	#{$varPrefix}-danger: #dc3232;
	#{$varPrefix}-danger--hover: #c82333;

	#{$varPrefix}-success: #46b450;
	#{$varPrefix}-success--hover: #1e7e34;

	#{$varPrefix}-info: #00a0d2;
	#{$varPrefix}-info--hover: #17a2b8;

	#{$varPrefix}-warning: #ffb900;
	#{$varPrefix}-warning--hover: #e0a800;

	#{$varPrefix}-dark: #000;
	#{$varPrefix}-dark--hover: #121212;

	#{$varPrefix}-light: #d3d9de;
	#{$varPrefix}-light--hover: #eee;
}

[data-at-theme='dark'] {
	color-scheme: dark;

	#{$varPrefix}-base-color: #d7d7d7;

	#{$varPrefix}-body-color: #959595;
	#{$varPrefix}-body-bg: #121212;

	#{$varPrefix}-secondary: #000;
	#{$varPrefix}-secondary--hover: #292c2e;

	#{$varPrefix}-border-color: #575757;

	#{$appPrefix} {
		&-bg {
			&-white {
				#{$varPrefix}-bg-cl: #1e1e1e;
			}

			&-grad {
				&-1 {
					#{$varPrefix}-bg-img: linear-gradient(90deg, #2d2d2d, #1e1e1e);
				}
			}
		}
	}
}

//at grid container styles

@media (min-width: 576px) {
	.at-ctnr {
		#{$varPrefix}-ctnr: 540px;
	}
}

@media (min-width: 768px) {
	.at-ctnr {
		#{$varPrefix}-ctnr: 720px;
	}
}

@media (min-width: 992px) {
	.at-ctnr {
		#{$varPrefix}-ctnr: 960px;
	}
}

@media (min-width: 1200px) {
	.at-ctnr {
		#{$varPrefix}-ctnr: 1140px;
	}
}

@media (min-width: 1400px) {
	.at-ctnr {
		#{$varPrefix}-ctnr: 1320px;
	}
}

body {
	#{$varPrefix}-fnt-fam: Arial, Helvetica, sans-serif;
	#{$varPrefix}-fnt-sz: 14px;
	#{$varPrefix}-fnt-wt: 400;
	#{$varPrefix}-ln-h: 1.5;
	#{$varPrefix}-cl: var(#{$varPrefix}-body-color);
	background-color: var(#{$varPrefix}-body-bg);
}

h1 {
	#{$varPrefix}-fnt-sz: 40px;
	#{$varPrefix}-fnt-wt: 800;
	#{$varPrefix}-cl: var(#{$varPrefix}-base-color);
}

h2 {
	#{$varPrefix}-fnt-sz: 32px;
	#{$varPrefix}-fnt-wt: 600;
	#{$varPrefix}-cl: var(#{$varPrefix}-base-color);
}

h3 {
	#{$varPrefix}-fnt-sz: 28px;
	#{$varPrefix}-fnt-wt: 500;
	#{$varPrefix}-cl: var(#{$varPrefix}-base-color);
}

h4 {
	#{$varPrefix}-fnt-sz: 24px;
	#{$varPrefix}-fnt-wt: 500;
	#{$varPrefix}-cl: var(#{$varPrefix}-base-color);
}

h5 {
	#{$varPrefix}-fnt-sz: 20px;
	#{$varPrefix}-fnt-wt: 500;
	#{$varPrefix}-cl: var(#{$varPrefix}-base-color);
}

h6 {
	#{$varPrefix}-fnt-sz: 16px;
	#{$varPrefix}-fnt-wt: 500;
	#{$varPrefix}-cl: var(#{$varPrefix}-base-color);
}

p {
	#{$varPrefix}-fnt-sz: 14px;
	#{$varPrefix}-fnt-wt: 400;
	#{$varPrefix}-cl: var(#{$varPrefix}-body-color);
}

code {
	#{$varPrefix}-cl: var(#{$varPrefix}-code-color);
}

li {
	#{$varPrefix}-cl: var(#{$varPrefix}-body-color);
}

// Theme CSS
#{$appPrefix} {
	&-ctnr {
		#{$varPrefix}-gtr: 15px;
	}

	&-ctnr-min {
		#{$varPrefix}-gtr: 15px;
	}

	&-gap {
		#{$varPrefix}-gap: 15px;
	}

	&-m-0 {
		#{$varPrefix}-m: 0 !important;
	}
	&-txt {
		&-dark {
			color: var(#{$varPrefix}-dark) !important;
			#{$appPrefix} {
				&-svg {
					fill: var(#{$varPrefix}-dark) !important;
				}
			}
		}
	}
	&-bg {
		&-white {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-white);
		}

		&-grad {
			&-1 {
				#{$varPrefix}-bg-img: linear-gradient(90deg, #ffbf96, #fe7096);
			}

			&-2 {
				#{$varPrefix}-bg-img: linear-gradient(90deg, #90caf9, #047edf 99%);
			}

			&-3 {
				#{$varPrefix}-bg-img: linear-gradient(90deg, #84d9d2, #07cdae);
			}
		}
		&-primary {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-primary);
		}
		&-secondary {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-secondary);
		}
		&-tertiary {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-tertiary);
		}
		&-quaternary {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-quaternary);
		}
		&-quinary {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-quinary);
		}
		&-danger {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-danger);
		}
		&-success {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-success);
		}
		&-info {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-info);
		}
		&-warning {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-warning);
		}
		&-dark {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-dark);
		}
		&-light {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-light);
		}
		&-accent {
			#{$varPrefix}-bg-cl: var(#{$varPrefix}-accent);
		}
	}
}

a {
	text-decoration: none;

	&[disabled] {
		pointer-events: none;
	}
}
.screen-reader-text {
	#{$varPrefix}-h: 1px;
	#{$varPrefix}-w: 1px;
	#{$varPrefix}-p: 1px;
	#{$varPrefix}-m: -1px;
	#{$varPrefix}-pos: absolute;
	#{$varPrefix}-clp-pth: inset(50%);
	#{$varPrefix}-ovf: hidden;
	#{$varPrefix}-wrd-wrp: normal;
	#{$varPrefix}-bdr-cl: none;
	#{$varPrefix}-bdr-w: 0;
	#{$varPrefix}-bdr-sty: none;

	clip: rect(1px, 1px, 1px, 1px);

	border-color: var(#{$varPrefix}-bdr-cl);
	border-width: var(#{$varPrefix}-bdr-w);
	border-style: var(#{$varPrefix}-bdr-sty);
	word-wrap: var(#{$varPrefix}-wrd-wrp) !important;
	overflow: var(#{$varPrefix}-ovf);
	margin: var(#{$varPrefix}-m);
	padding: var(#{$varPrefix}-p);
	position: var(#{$varPrefix}-pos);
	clip-path: var(#{$varPrefix}-clp-pth);
	width: var(#{$varPrefix}-w);
	height: var(#{$varPrefix}-h);

	&:focus {
		#{$varPrefix}-clp-pth: none;
		#{$varPrefix}-p: 15px 23px 14px;
		#{$varPrefix}-l: 5px;
		#{$varPrefix}-t: 5px;
		#{$varPrefix}-cl: #444;
		#{$varPrefix}-bg-cl: #eee;
		#{$varPrefix}-h: auto;
		#{$varPrefix}-w: auto;
		#{$varPrefix}-fnt-sz: 1em;
		#{$varPrefix}-ln-h: normal;
		#{$varPrefix}-txt-dec: none;
		#{$varPrefix}-z-idx: 100000;

		clip: auto !important;
		display: block;

		text-decoration: var(#{$varPrefix}-txt-dec);
		font-size: var(#{$varPrefix}-fnt-sz);
		line-height: var(#{$varPrefix}-ln-h);
		width: var(#{$varPrefix}-w);
		height: var(#{$varPrefix}-h);
		background-color: var(#{$varPrefix}-bg-cl);
		color: var(#{$varPrefix}-cl);
		clip-path: var(#{$varPrefix}-clp-pth);
		top: var(#{$varPrefix}-t);
		left: var(#{$varPrefix}-l);
		padding: var(#{$varPrefix}-p);
		z-index: var(#{$varPrefix}-z-idx);
	}
}
