@import '../../prefix-vars';

#{$appPrefix} {
	&-search {
		.components {
			&-base-control__field {
				#{$varPrefix}-m: 0;
				margin: var(#{$varPrefix}-m) !important;
			}
			&-search-control {
				&__input {
					#{$varPrefix}-h: 35px;
					#{$varPrefix}-bg-cl: var(#{$varPrefix}-white);
					#{$varPrefix}-bdr-cl: var(#{$varPrefix}-quaternary);
					#{$varPrefix}-bdr-w: 1px;
					#{$varPrefix}-bdr-sty: solid;

					background: var(#{$varPrefix}-bg-cl) !important;
					height: var(#{$varPrefix}-h) !important;
					border-width: var(#{$varPrefix}-bdr-w) !important;
					border-style: var(#{$varPrefix}-bdr-sty) !important;
					border-color: var(#{$varPrefix}-bdr-cl) !important;
				}

				&__icon {
					> svg {
						display: none;
					}
				}
			}
		}
	}

	&-btn {
		&-search {
			#{$varPrefix}-m: 0 0 0 15px;
		}
	}
}
